/* ========= GLOBAL ========= */

body{
  margin:0;
  font-family:Segoe UI;
  background:linear-gradient(135deg,#0f0f1b,#181830,#202040);
  color:white;
}


/* ========= PAGE SYSTEM ========= */

.page{
  display:none;
  padding:50px 20px;
  min-height:100vh;
}

.page.active{
  display:flex;
  flex-direction:column;
  align-items:center;
}


/* ========= LOGIN ========= */

.centerPage{
  justify-content:center;
  align-items:center;
  display:flex;
}

.loginCard{
  background:rgba(255,255,255,0.07);
  backdrop-filter:blur(14px);
  padding:50px;
  border-radius:20px;
  width:320px;
  text-align:center;
}

.logo{
  font-size:38px;
  color:#7c9cff;
}


/* ========= INPUTS ========= */

input{
  width:100%;
  padding:12px;
  border:none;
  border-radius:10px;
  margin:15px 0;
}


/* ========= BUTTON ========= */

button{
  background:#7c9cff;
  border:none;
  padding:12px 18px;
  border-radius:10px;
  color:white;
  cursor:pointer;
}


/* ========= TITLES ========= */

.title{
  margin-bottom:35px;
}


/* ========= CARDS ========= */

.card{
  background:rgba(255,255,255,0.06);
  backdrop-filter:blur(12px);
  padding:25px;
  border-radius:16px;
  box-shadow:0 10px 30px rgba(0,0,0,0.3);
}

.wide{
  width:100%;
  max-width:900px;
}


/* ========= ROLES ========= */

.roles{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
  gap:20px;
  width:100%;
  max-width:1100px;
}

.role{
  background:rgba(255,255,255,0.05);
  padding:20px;
  border-radius:12px;
  text-align:center;
  cursor:pointer;
}


/* ========= STATS ========= */

.statsRow{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:25px;
  width:100%;
  max-width:1100px;
  margin-bottom:35px;
}

.statCard{
  background:#7c9cff22;
  padding:25px;
  border-radius:16px;
  text-align:center;
}

.statCard h1{
  font-size:30px;
}


/* ========= DASHBOARD GRID ========= */

.dashboardGrid{
  display:grid;
  grid-template-columns:2fr 1fr;
  grid-template-rows:auto auto;
  gap:25px;
  width:100%;
  max-width:1100px;
}

.bigCard{
  grid-row: span 2;
  height:420px;
}


/* ========= BADGES ========= */

.badges{
  display:flex;
  gap:10px;
  flex-wrap:wrap;
}

.badge{
  background:#7c9cff;
  padding:6px 12px;
  border-radius:20px;
}


/* ========= TABLE ========= */

table{
  width:100%;
  border-collapse:collapse;
}

td,th{
  padding:10px;
  border-bottom:1px solid rgba(255,255,255,0.1);
}


/* ========= HEATMAP ========= */

.bigNumber{
  font-size:60px;
}

.heatmap{
  display:grid;
  grid-template-columns:repeat(7,16px);
  gap:6px;
}

.day{
  width:16px;
  height:16px;
  background:#222;
  border-radius:3px;
}

.day.active{
  background:#7c9cff;
}
